<footer class="closer">
  <div class="site-shell closer-grid">
    <div class="closer-links">
      <a href="https://github.com/TheUser99-spec/AgentGuard" target="_blank" rel="noreferrer">GitHub</a>
      <a href="/AgentGuard/docs">Docs</a>
      <a href="/AgentGuard/development-path">Development Path</a>
      <a href="/AgentGuard/license">License</a>
    </div>
  </div>
</footer>
