<footer class="closer">
  <div class="site-shell closer-grid">
    <div class="closer-links">
      <a href="https://github.com/TheUser99-spec/Phylax" target="_blank" rel="noreferrer">GitHub</a>
      <a href="/docs">Docs</a>
      <a href="/development-path">Development Path</a>
      <a href="/license">License</a>
    </div>
  </div>
</footer>
